body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--background);
}

nav {
    width: calc(100% - 20px);
    height: 100px;
    background-color: var(--primary);
    display: grid;
    grid-template-columns: auto 1fr 40px;
    align-items: center;
    padding: 0 10px;
}

nav h1 {
    color: var(--white);
    margin: 0 10px;
}

nav links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav links a {
    color: var(--white);
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.7s;
}

nav links a:hover {
    color: var(--black);
}

nav theme circle,
nav menu circle {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
}

nav theme circle svg,
nav menu circle svg {
    stroke: var(--white);
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

nav theme circle:hover svg,
nav menu circle:hover svg {
    stroke: var(--black);
}

nav menu {
    display: none;
}

.linksmenu {
    background-color: var(--background);
    width: 100vw;
    position: fixed;
    top: 100px;
    right: 0px;
    flex-direction: column;
    height: calc(100vh - 100px);
    justify-content: flex-start;
}

.linksmenu a {
    padding: 20px 0;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
}

.linksmenu a:hover {
    background-color: var(--primary);
}

h2 {
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--black);
    border-bottom: 1px solid #f6f6f6;
    padding: 15px 15px;
    width: 100%;
    float: left;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 3%;
    width: 25%;
    height: 40%;
    border: 2px solid black;
    padding: 2% 4%;
    border-radius: 10px;
}

linha {
    display: block;
    margin-bottom: 20px; /* ou 1rem, mais comum */
    width: 100%;
}



.btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em auto; 
    background: var(--primary);
    color: var(--secondary);
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: block;
}


.btn:hover {
    color: var(--terciary);
}

.btn::after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

.btn:hover::after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.sidebar {
    width: 250px;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: var(--black);
}

.sidebar ul li a:hover {
    color: var(--primary);
}

.content {
    flex-grow: 1;
    padding: 20px;
}

tabelas{
    margin: auto;
    margin-top: 3%;
    justify-content: center ;
    border-collapse: collapse;
    width: 60%;
    overflow-y:scroll;
    height:auto;
  }

  td, th {
    border: 2px solid var(--black);
    text-align: center;
    padding: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
  }
  tr:nth-child(even) {
    background-color: var(--background);
  }
  .layout {
    display: flex;
}