<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
    <script src="/js/lucide.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/elements.css">
    <script src="/js/tabelas.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          lucide.createIcons();
        })
    </script>
</head>

<body>
<nav>
    <h1>Administrador</h1>
    <menu>
        <circle>
            <i data-lucide="menu"></i>
        </circle>
    </menu>
    <links>
        <a title="Novo Usuario" th:href="@{/usuario/novo}">
            <i data-lucide="plus"></i>
        </a>
        <a th:href="@{/usuario}" title="Voltar">
            <i data-lucide="arrow-left"></i>
        </a>
    </links>
</nav>
<div class="alert" th:if="${erro}">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <p th:text="${erro}"></p>
</div>
<tfunc>
    <table class="tabelas">
        <tr>
            <th>Nome</th>
            <th>Login</th>
            <th colspan="2">Ações</th>
        </tr>
        <tr th:each="usuario : ${listusuario}">
            <td th:text="${usuario.nome}">Nome</td>
            <td th:text="${usuario.login}">Login</td>
            <td>
                <a th:href="@{'/usuario/editar/'+${usuario.id}}">
                    <button>
                        Editar
                        <i data-lucide="pencil"></i>
                    </button>
                </a>
            </td>
            <td>
                <a th:href="@{'/usuario/excluir/'+${usuario.id}}">
                    <button>
                        Excluir
                        <i data-lucide="trash-2"></i>
                    </button>
                </a>
            </td>
        </tr>

    </table>
</tfunc>
</body>
</html>
