<!DOCTYPE html>
<html lang="pt-BR">

<head>
   <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
    <script src="./js/lucide.js"></script>
    <script src="./js/nav.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/colors.css" />
    <link rel="stylesheet" href="/css/elements.css" />
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            lucide.createIcons();
        });
    </script>
</head>
 
<body>

    <nav>
        <h1>Cadastrar</h1>
        <menu>
            <circle>
                <i data-lucide="menu"></i>
            </circle>
        </menu>
        <links>
            <a th:href="@{/usuario/admin}" title="Voltar">
                <i data-lucide="arrow-left"></i>
            </a>
        </div>
    </nav>

    <div class="form-newus">
        <h2>Cadastrar</h2>
        <form th:action="@{/usuario/salvar}" th:object="${usuario}" method="POST" autocomplete="off">
            <input type="hidden" th:field="*{id}">
            <linha>
                <label>Nome</label>
                <input type="text" th:field="*{nome}" />
            </linha>
            <linha>
                <label>Login</label>
                <input type="text" th:field="*{login}" />
            </linha>
            <linha>
                <label>Senha</label>
                <input type="text" th:field="*{senha}" />
            </linha>

            <button type="submit" class="btn">Cadastrar</button>
        </form>
    </div>

</body>
</html>
